body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0px 20px;
}

article {
  border: 2px solid black;
  background-color: rgb(133, 133, 133);
  width: auto;
}

article > span {
  float: right;
  border: 2px solid black;
  background-color: rgb(255, 124, 146);
  padding: 5px 30px;
  font-weight: bold;
  border-top: 0px;
  border-right: 0px;
}

article:nth-child(2) span{
  background-color: rgb(255, 17, 17);
  color: white;
}

article:nth-child(3) span{
  background-color: rgb(223, 215, 0);
}

article > p {
  clear: right;
  padding: 15px;
}

@media (max-width: 991px) {
  div {
    grid-template-columns: 1fr 1fr;
  }

  .changeSpan {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 768px) {
  div {
    grid-template-columns: 1fr;
  }

  .changeSpan {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
